body{
    font-family: arial;
}

label {
    font-weight: bold;
}

#rate, #chip, #uma, #oka{
    width: 100px;
}

.player {
    width: 90px;
}

.raw {
    width: 80px;
}

.chip {
    width: 50px;
}

#finalTable, #newGame {
    display: none;
}
