body{
    font-family: arial;
}

label {
    font-weight: bold;
}

#rate, #chip, #uma, #oka{
    width: 100px;
}

.player {
    width: 70px;
}

.raw {
    width: 70px;
}

.chip {
    width: 50px;
}

#finalTable, #newGame, #clipboard {
    display: none;
}
